/*.bg{
    background-image: https://img.freepik.com/premium-vector/health-care-medical-innovation-concept-background_115579-953.jpg?w=740
    height: 600px;
} */
.container{
    height: auto;
    background-color: #299b9b;
}
/* .contact-image{
    width:auto;
    height: 100px;
    border-radius: 50px;
} */