<section id="hero" style="background-color: rgb(152, 224, 152);">
    
            <div class="" >
                
                    <h3>Not Sure Which Doctor to Consult?</h3>
                    <h6>Want to consult a Doctor</h6>
                    <h6>Want to take a medical test</h6>
                    <h2>Here we are to help you in times of need!</h2>
                    <div>
                        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1663738017~exp=1663738617~hmac=20111b24dff54a29c91580403bcd10f0eae5dd31f5c12b3b93efe28167637dd2" alt="" width="500px" height="250px">
                    </div>
                        <div>
                            <h5>About us</h5>
                            <p>It is an Hospital, which has worldclass facilities and staff who always care for your health, it is a place where we feel better by making your health better and we will always be happy to serve you in times of needs</p>
                        </div>
            </div>
</section>